<template name="activities">
	<ul class="thumbnails">
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img src="click.png" alt="">
		 		<h3>{{lang.Activity1}}</h3>
		 		<p>
		 			<a href="/activity" class="btn btn-primary">Go!</a>
		 			<a class="btn details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity1Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img src="click.png" alt="">
		 		<h3>{{lang.Activity2}}</h3>
		 		<p>
		 			<a href="/activity" class="btn btn-primary">Go!</a>
		 			<a class="btn details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity2Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img src="click.png" alt="">
		 		<h3>{{lang.Activity3}}</h3>
		 		<p>
		 			<a href="/activity" class="btn btn-primary">Go!</a>
		 			<a class="btn details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity3Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img src="click.png" alt="">
		 		<h3>{{lang.Activity4}}</h3>
		 		<p>
		 			<a href="/activity" class="btn btn-primary">Go!</a>
		 			<a class="btn details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity4Desc}}</p>
		 	</div>
		 </li>
	</ul>
</template>