<template name="activities">
	<ul class="thumbnails">
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img class="activityLogo" src="activities/findEdge.png" alt="">
		 		<h3>{{lang.Activity1}}</h3>
		 		<p>
		 			<a href="/activity1/practice" class="btn btn-info">{{lang.Practice}}</a>
		 			{{#if currentUser}}
		 			<a href="/activity1/scoring/difficulty" class="btn btn-info">{{lang.Evaluation}}</a>
		 			{{/if}}
		 			<br>
		 			<a class="btn btn-link details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity1Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img class="activityLogo" src="activities/findPosition.png" alt="">
		 		<h3>{{lang.Activity2}}</h3>
		 		<p>
		 			<a href="/activity2/practice" class="btn btn-info">{{lang.Practice}}</a>
		 			{{#if currentUser}}
		 			<a href="/activity2/scoring/difficulty" class="btn btn-info">{{lang.Evaluation}}</a>
		 			{{/if}}
		 			<br>
		 			<a class="btn btn-link details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity2Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img class="activityLogo" src="activities/findMovement.png" alt="">
		 		<h3>{{lang.Activity3}}</h3>
		 		<p>
		 			<a href="/activity3/practice" class="btn btn-info">{{lang.Practice}}</a>
		 			{{#if currentUser}}
		 			<a href="/activity3/scoring/difficulty" class="btn btn-info">{{lang.Evaluation}}</a>
		 			{{/if}}
		 			<br>
		 			<a class="btn btn-link details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity3Desc}}</p>
		 	</div>
		 </li>
		 <li class="span3">
		 	<div class="thumbnail">
		 		<img class="activityLogo" src="activities/crossSection.png" alt="">
		 		<h3>{{lang.Activity4}}</h3>
		 		<p>
		 			<a href="/activity4/practice" class="btn btn-info">{{lang.Practice}}</a>
		 			{{#if currentUser}}
		 			<a href="/activity4/scoring" class="btn btn-info">{{lang.Evaluation}}</a>
		 			{{/if}}
		 			<br>
		 			<a class="btn btn-link details">{{lang.Details}}</a>
		 		</p>
		 		<p class="hide">{{lang.Activity4Desc}}</p>
		 	</div>
		 </li>
	</ul>
</template>