<template name="createAnObject">
<h1>{{lang.CreateAnObject}}</h1>
<div class="row-fluid">
	<div class="span3">
		<form class="form-horizontal">
			<input type="text" id="inputX" placeholder="X">
			<input type="text" id="inputY" placeholder="Y">
			<input type="text" id="inputZ" placeholder="Z">
			<br>
			<button type="submit" class="btn">{{lang.AddPoint}}</button>
		</form>
		<br>

		<form class="form-horizontal">
		<input type="text" id="inputEdge" placeholder="[A,B]">
		<br>
		<button class="btn" type="submit">{{lang.AddEdge}}</button>
		</form class="form-horizontal">

		<form class="form-horizontal">
		<input type="text" id="inputFace" placeholder="[A,B,C,...]">
		<br>
		<button class="btn" type="submit">{{lang.AddFace}}</button>
		</form>

		<button class="btn" id="findMarker">{{lang.PlaceMarker}}</button>
		<br>
		<button class="btn btn-large btn-success disabled" id="saveObject">{{lang.SaveObject}}</button>
	</div>
	<div class="span1">
		<h6>{{lang.Axis}}</h6>
		<div class="btn-group">
			<button id="axis-on" class="btn btn-mini btn-primary">ON</button>
			<button id="axis-off" class="btn btn-mini">OFF</button>
		</div>
		<h6>{{lang.Transparency}}</h6>
		<div class="btn-group">
			<button id="transparency-on" class="btn btn-mini btn-primary">ON</button>
			<button id="transparency-off" class="btn btn-mini">OFF</button>
		</div>
	</div>
	<div class="span8">
		{{#constant}}
		<div id="perspective1" class="span12">
		</div>
		{{/constant}}
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<h6>{{lang.Points}}</h6>
		<table class="table" id="listPoints">
			<tr><th>ID</th><th>{{lang.Coordinates}}</th></tr>
		</table>
	</div>
	<div class="span4">
		<h6>{{lang.Edges}}</h6>
		<table class="table" id="listEdges">
			<tr><th>{{lang.Points}}</th></tr>
		</table>
	</div>
	<div class="span4">
		<h6>{{lang.Faces}}</h6>
		<table class="table" id="listFaces">
			<tr><th>{{lang.Points}}</th></tr>
		</table>
	</div>
</div>
</template>