<template name="home">
	<div style="margin-top:80px">
		<h1>{{lang.Welcome}}</h1>
		<div class="row">
			<div class="span5">
				<p class="lead">{{lang.WelcomeMsg}}</p>
				<a class="btn btn-primary btn-large" style="float:right" href="/activities">{{lang.GetStarted}}</a>
			</div>
			<div class="span7">
				<!-- <img src="charpente01.jpg" class="charpente"> -->
				<img src="charpente02.jpg" class="charpente">
				<img src="charpente03.jpg" class="charpente">
			</div>		
		
		</div>
	</div>
</template>
<template name="about">
	<h1>{{lang.About}}</h1>
</template>
<template name="notLoggedIn">
	<h1>Not logged in.</h1>
	<p>Sorry, you need to log in first.</p>
</template>
<template name="notAllowed">
	<h1>Not allowed.</h1>
	<p>Sorry, you cannot have access to this page.</p>
</template>