<template name="popupActivityFinish">
	<div id="activityFinish" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="activityFinishLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h2>{{lang.Congrats}}</h2>
	  </div>
	  <div class="modal-body gcb-cols">
		  
	  </div>
	  <div class="modal-footer">
		<a class="btn btn-primary" aria-hidden="true" onclick="Utils.goToHREFDismissModal('/activities', 'activityFinish')">{{lang.BackToActivities}}</a>
  	    <button id="nextActivityButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{lang.Redo}}</button>
	    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{lang.Close}}</button>
	  </div>
	</div>
</template>